@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1f5fb2;
  --color-secondary: #485277;
  --color-accent: #d60b8b;
  --color-danger: #d60b0b;
  --color-muted: #5b646f;
  --color-highlight: #0b66d6;
  --color-body: #e0e7ff;
  --color-fg: #313131;
  --color-bg: #ffffff;
  --color-inverse: var(--color-bg);

  --color-border: #1a1a1a;
  --color-toolbar: #2b2b2b;
  --color-panel: #3c3c3c;

  --color-default-0: #090909;
  --color-default-1: #1a1a1a;
  --color-default-2: #2b2b2b;
  --color-default-3: #3c3c3c;
  --color-default-4: #4d4d4d;
  --color-default-5: #5e5e5e;
  --color-default-6: #6f6f6f;

  --color-text-primary: #ffffff;
  --color-text-secondary: #e7e7e7;

  --width-breakpoint: 768px;
}

body {
  font-weight: 100;
  -webkit-font-smoothing: "auto";
}

.canvas-container[data-selected="hand"] {
  cursor: grab;
}

.canvas-container[data-active="hand"] {
  cursor: grabbing;
}

.canvas-container[data-selected="brush"],
.canvas-container[data-selected="eraser"] {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Ccircle cx='8' cy='8' r='6' fill='none' stroke='%23333' stroke-width='1'/%3E%3Ccircle cx='8' cy='8' r='1' fill='%23333'/%3E%3C/svg%3E") 8 8, crosshair;
}

.canvas-container[data-selected="bezier"] {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 512 512' fill='%23333' transform='rotate(90)'%3E%3Cpath d='M334.857,166.955l-65.516-65.531c-39.469,23.672-126.656,62.688-126.656,62.688c-19.719,8.172-33.938,25.813-37.734,46.813L60.826,416.596l-25.313,25.313c-9.125-0.109-18.281,3.297-25.234,10.25c-13.703,13.688-13.703,35.875,0,49.563c13.688,13.703,35.891,13.703,49.578,0c6.953-6.953,10.359-16.109,10.234-25.219l25.313-25.313l205.688-44.125c21-3.813,38.625-18.031,46.797-37.734c0,0,39.047-87.156,62.734-126.609l-65.531-65.531L334.857,166.955z M269.889,302.127c-15.25,15.25-39.188,16.438-55.813,3.641L63.436,456.408c-1.094-1.484-2.25-2.922-3.578-4.25c-1.344-1.344-2.766-2.5-4.25-3.578l150.641-150.641c-12.813-16.641-11.625-40.563,3.625-55.813c16.578-16.578,43.438-16.578,60.016,0S286.467,285.564,269.889,302.127z'/%3E%3Cpath d='M511.998,139.705L372.311,0.002c0,0-29.375,29.375-45.156,45.156s-36.297,11.047-36.297,11.047l-18.953,18.938l66.297,66.297l15.781,15.781l82.875,82.875l18.938-18.938c0,0-4.734-20.516,11.047-36.313C482.639,169.064,511.998,139.705,511.998,139.705z'/%3E%3C/svg%3E") 1 1, crosshair;
}

.canvas-container[data-selected="square"],
.canvas-container[data-selected="ellipse"],
.canvas-container[data-selected="line"],
.canvas-container[data-selected="arrow"] {
  cursor: crosshair;
}

.canvas-container[data-selected="text"] {
  cursor: text;
}

.canvas-container[data-selected="node"] {
  cursor: default;
}

.canvas-container[data-selected="pointer"][data-option="moving"] {
  cursor: grabbing;
}

.canvas-container[data-selected="pointer"][data-option="handle-nwse"] {
  cursor: nwse-resize;
}

.canvas-container[data-selected="pointer"][data-option="handle-nesw"] {
  cursor: nesw-resize;
}

.canvas-container[data-selected="pointer"][data-option="handle-rotate"] {
  cursor: grab;
}

.canvas-container[data-selected="zoom"] {
  cursor: zoom-in;
}

.canvas-container[data-selected="eyedropper"] {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 48 48' fill='%23333'%3E%3Cpath d='M42,10.9a6.3,6.3,0,0,0-1.7-4.2,6,6,0,0,0-8.4,0l-6.7,6.7-1.1-1a2,2,0,0,0-2.8,2.8l1,1L4.6,34A2,2,0,0,0,4,35.4V41a2,2,0,0,0,2,2h5.6a2,2,0,0,0,1.4-.6L30.7,24.7l1.1,1a1.9,1.9,0,0,0,2.8,0,1.9,1.9,0,0,0,0-2.8l-1-1.1,6.7-6.7A5.9,5.9,0,0,0,42,10.9ZM10.7,39H8V36.3L25.2,19.1l2.7,2.7Z'/%3E%3C/svg%3E") 0 23, crosshair;
}

canvas {
  background-color: "red";
}

input[type="text"] {
  @apply border border-transparent text-text-primary px-2 py-0.5 rounded bg-default-3 shadow-sm hover:border-white/10 focus-visible:border-highlight focus-visible:outline-none w-full;
}

button {
  @apply focus-visible:border focus-visible:border-highlight focus-visible:outline-none;
}

input.slider-input {
  @apply px-[26px] text-sm;
}

input.color-input {
  @apply pl-[26px] pr-1 text-sm max-w-24 rounded-r-none border-r-default-1;
}

input.alpha-input {
  @apply pr-[26px] text-sm rounded-l-none max-w-16;
}

input.app-text-input {
  @apply mt-1 block w-full px-4 py-3 bg-default-2 border border-default-3 rounded-md text-text-primary placeholder-white/70;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.center {
  @apply flex justify-center items-center;
}

.rc-slider-rail {
  @apply !bg-default-3;
}

.rc-slider-track,
.rc-slider-tracks {
  @apply !bg-white;
}

.color-picker .react-colorful {
  height: 290px;
  width: 220px;
}

.color-picker .react-colorful__hue {
  margin-top: 24px;
  margin-bottom: 16px;
}

.color-picker .react-colorful__alpha,
.color-picker .react-colorful__hue {
  height: 16px;
}

.color-picker .react-colorful__alpha,
.color-picker .react-colorful__hue,
.color-picker .react-colorful__saturation {
  @apply rounded-lg;
}

.color-picker .react-colorful__pointer {
  @apply cursor-pointer;
}

.flex-center {
  @apply justify-center items-center;
}

.animate-tail {
  animation: tail-animation 2s ease-out forwards;
}

@keyframes tail-animation {
  from {
    stroke-dashoffset: 490;
  }

  to {
    stroke-dashoffset: 0;
  }
}