@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #485277;
  --color-secondary: #485277;
  --color-accent: #d60b8b;
  --color-danger: #d60b0b;
  --color-muted: #5b646f;
  --color-highlight: #0b66d6;
  --color-body: #e0e7ff;
  --color-fg: #313131;
  --color-bg: #ffffff;
  --color-inverse: var(--color-bg);

  --color-border: #0d0d0d;
  --color-toolbar: #363636;

  --width-breakpoint: 768px;
}

body {
  font-weight: 100;
}

.canvas-container[data-selected="hand"] {
  cursor: grab;
}

.canvas-container[data-selected="hand"][data-active="hand"] {
  cursor: grabbing;
}

input {
  @apply bg-toolbar border border-border text-white px-2 py-1 rounded;
}
