@layer tailwind-base,
  primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --color-primary: #485277;
  --color-secondary: #485277;
  --color-accent: #d60b8b;
  --color-danger: #d60b0b;
  --color-muted: #9ba4af;
  --color-highlight: #0b66d6;
  --color-body: #e0e7ff;
  --color-fg: #313131;
  --color-bg: #ffffff;
  --color-inverse: var(--color-bg);

  --color-border: #0d0d0d;
  --color-toolbar: #363636;
}
