@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #485277;
  --color-secondary: #485277;
  --color-accent: #d60b8b;
  --color-danger: #d60b0b;
  --color-muted: #5b646f;
  --color-highlight: #0b66d6;
  --color-body: #e0e7ff;
  --color-fg: #313131;
  --color-bg: #ffffff;
  --color-inverse: var(--color-bg);

  --color-border: #1a1a1a;
  --color-toolbar: #2b2b2b;
  --color-panel: #3c3c3c;

  --width-breakpoint: 768px;
}

body {
  font-weight: 100;
  -webkit-font-smoothing: "auto";
}

.canvas-container[data-selected="hand"] {
  cursor: grab;
}

.canvas-container[data-selected="hand"][data-active="hand"] {
  cursor: grabbing;
}

input[type="text"] {
  @apply border border-transparent text-white px-2 py-0.5 rounded bg-panel shadow-sm hover:border-white/10 focus-visible:border-highlight focus-visible:outline-none w-full;
}

button {
  @apply focus-visible:border focus-visible:border-highlight focus-visible:outline-none;
}

input.slider-input {
  @apply px-[26px] text-sm max-w-32;
}

input.color-input {
  @apply pl-[26px]  pr-1 text-sm max-w-24 rounded-r-none border-r-border;
}

input.alpha-input {
  @apply pl-1  pr-[26px] text-sm rounded-l-none max-w-16;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.center {
  @apply flex justify-center items-center;
}

.rc-slider-rail {
  @apply !bg-panel;
}
.rc-slider-track,
.rc-slider-tracks {
  @apply !bg-white;
}
